<body>
    <div class="about">
        <div class="container2">
            <div class="star-container">
                <span class="stars">-------</span>
                <h1>Welcome to CineVerse</h1>
                <p class="intro">Your personalized movie rating platform designed to help you keep track of and rate the
                    movies you've watched. Whether you're a casual viewer or a dedicated cinephile, <span
                        class="highlight">CineVerse</span> is here to enhance your movie-watching
                    experience.
                </p>
                <span class="stars">-------</span>
            </div>

        </div>
    </div>


</body>